<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thorin.dsc.dihealth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dihealth">
        <activity
            android:name=".ui.navigation.home.detail.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.navigation.chat.ChatRoomActivity"
            android:exported="false" />
        <activity
            android:name=".ui.navigation.home.detail.DetailArticleActivity"
            android:exported="true"
            android:label="@string/title_activity_detail_article"
            android:theme="@style/Theme.Dihealth.NoActionBar" />
        <activity
            android:name=".ui.navigation.chat.ListUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editprofile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splahscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.loginregister.LoginEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.loginregister.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mainpage.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.loginregister.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>